body {
    background-color: rgb(226, 196, 200);

}




.navbar {
    background-image: linear-gradient(to right,#c19d8f, #e97171 );
    font-family: "Montserrat", sans-serif;
    
}

.navbar-brand {
    letter-spacing: .2em;
}

.leftside {
    position: absolute;
    top: 25%;
}

.leftside li {
    transition: .3s;
    position: relative;
}
.leftside li:hover {
    padding-left: 80%; 
}



